
@import "tailwindcss";
:root{
  --primary-color: #008cff;
  --font-family: "Poppins", sans-serif;
  --background-color: #ebebeb;
  --secondary-color: #1a1a1a;
  --primary-color-dark: #006bbf;
  --primary-color-light: #66aaff;
  --disabled-color: #b0b0b0;
}
html {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

ul {
  list-style: none;
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

a{
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover {
  
  text-decoration: underline;
  color: var(--primary-color-light);
}
a.disabled {
  color: var(--disabled-color);
  text-decoration: none;
  cursor: not-allowed;
}

/* Tăng icon size khi collapsed hoặc không */
.ant-menu-item-icon {
  font-size: 20px !important;
  min-width: 20px;
  line-height: 1;
}
.ant-divider-horizontal {
  margin: 0 !important;
}
/* ví dụ trong global.css */
.fc-customToday-button,
.fc-customPrev-button,
.fc-customNext-button {
  font-size: 14px !important;  /* chỉnh độ to chữ */
  padding: 6px 12px; /* chỉnh padding */
  border-radius: 8px;
}

.fc-customToday-button {
  background-color: #2563eb; /* xanh */
  color: white;
  font-weight: 600;
}

.fc-customPrev-button,
.fc-customNext-button {
  background-color: #e5e7eb; /* gray-200 */
  color: #111827;
}
