@import "tailwindcss";

:root{
  --primary-color: #008cff;
  --font-family: "Poppins", sans-serif;
  --background-color: #ebebeb;
}
html {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

ul {
  list-style: none;
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}